PyQt5
keyboard
pynput
pyobjc-framework-Cocoa; sys_platform == "darwin"
pyobjc-framework-Quartz; sys_platform == "darwin"
sounddevice
scipy
openai
pyperclip
pyautogui
python-dotenv
numpy
flask
supabase
